@import "../../../../../scss/theme-app";

.Data-DiffTable {
  width: 100%;
  border-collapse: collapse;
}

.Data-DiffTableHeader {
  font-weight: bold;
  text-align: right;
  background-color: $bg-color_hover;
}