@import "../../../../scss/theme-app";
@import "./_active/Grid-PaginationLink_active";
@import "./_disabled/Grid-PaginationLink_disabled";
@import "./_ellipsis/Grid-PaginationLink_ellipsis";

.Grid-PaginationLink {
  margin-left: -1px;
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  color: $pagination--color;
  border: 1px solid $pagination--border-color;
  background-color: $white;

  &:hover {
    z-index: 2;
    background-color: $bg-color_hover;
  }
}
