.Icon_inputIcon {
  height: 36px;
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid;
  border-color: $input--border-color;
  border-radius: $input--border-radius 0 0 $input--border-radius;
  padding: $InputIcon--padding !important;
  background-color: $bg-color_disabled-light;
}