@import "../../scss/theme-app";
@import "Wrap/Input-Wrap";
@import "_required/Input_required";
@import "_withIcon/Input_withIcon";
@import "_withLabel/Input_withLabel";
@import "_withLabelEnd/Input_withLabelEnd";
@import "_withPasswEye/Input_withPasswEye";
@import "_hasError/Input_hasError";

.Input {
  width: 100%;
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
