@import "./Label/Grid-PerpageLabel";

.Grid-Perpage {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .Input {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 6px;
    width: 100%;
  }

  .InputLabel {   /* лучше этот каскад, чем пробрасывать className для Label */
    font-size: 14px;
    width: 150px;
  }
  
}
