// @import "../../scss/theme-app";

.InputSelect {
  width: 100%;

/*   &:hover {
    background-color: $white;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid;
    box-sizing: border-box;
    padding: 1px 5px;
  } */
}

