@import "../../../scss/theme-app";
@import "./_active/Tab-Content_active";

.Tab-Content {
  display: none;
  width: 100%;
  position: absolute;
  // top: 25px;
  left: 0;
  margin: 5px 0;
  padding: 15px 12px;
  border: 1px solid $input--border-color;
}

.Tab-ContentButton {
  text-align: left;
  margin-bottom: 11px;
}

.Tab-ContentLink {
  border-bottom: none;
  line-height: 13px;
  display: block;
  height: 15px;

  &:hover {
    border-bottom: 1px solid $link--color_hover;
  }
}