@import "../../scss/theme-app";
@import "_passwEye/Icon_passwEye";
@import "_passwEye/_eyeClosed/Icon_passwEye_eyeClosed";
@import "_passwEye/_eyeOpened/Icon_passwEye_eyeOpened";
@import "_inputIcon/Icon_inputIcon";

.Icon {
  position: relative;
  padding: 0 10px;

  .Img {
    border-radius: 50%;

    &:hover {
      background-color: darken($white, 5%);
    }
  }
}
