@import "../../scss/theme-app";
@import "./_iconLink/Link_iconLink.scss";

.Link {
  line-height: 16px;
  box-sizing: border-box;
  color: $link--color;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color $transition-duration;

  &:hover {
    cursor: pointer;
    border-bottom-color: $link--border-color_hover;
  }
}
