@import "../../../../../scss/theme-app";

.Pagination-Item_disabled {

  .Pagination-Link {
    pointer-events: none;
    cursor: auto;
    color: $link--color_disabled;
    background-color: $white;
  }

}
