@import "../../scss/theme-app";

.Page-Header {
  margin: 18px 0;

  table {
    //width: 50%;
    //line-height: 23px;

    tr {
      //border: none;
    }

    th {
      border: 1px solid $table--border-color;
      text-align: right;
      //width: 200px;
      //line-height: 14px;
      padding-right: 4px;
    }
    td {
      border: 1px solid $table--border-color;
      padding: 2px 10px;
    }
  }
}
