@import "../../scss/theme-app";

.Page-Header {
  margin: 18px 0;

  table {
    tr {
    }

    th {
      border: 1px solid $table--border-color;
      text-align: right;
      padding: 0 4px 0;
    }
    td {
      border: 1px solid $table--border-color;
      padding: 0 10px;
    }
  }
}
