@import "../../../../../scss/theme-app";

.Filter-Item {
  .InputDaterange {
    display: flex;
    min-width: 180px;
    max-width: 220px;

    .FilterSeparator {
      border: 1px solid #ccc;
      border-radius: 0;

      min-width: 16px;
      padding: 4px 5px;
      line-height: 1.42857143;
      text-shadow: 0 1px 0 #fff;

      white-space: nowrap;
      vertical-align: middle;
    }

    .DateFrom, .DateTo {
      width: 100%;
    }
  }
}
