@import "../../../../../scss/theme-app";
@import "../../../../../blocks/TabSet/TabSet";

.dbDiff {
  margin-left: 20px;
  padding: 1px 5px;
  color: $white;
  background-color: $error--color;
}

.TabData {
  th, td {
    border: 1px solid $table--border-color !important;
  }
}
