@import "../../../../scss/theme-app";

.Grid-Row {
  border-bottom: 1px solid $table--border-color;

  &:hover {
    color: $black; /* $content--color */
    background-color: $bg-color_hover;
  }

  &:last-child {
    border: none !important;
  }
}

.NotHovered {
  &:hover {
    background-color: $white;
  }
}
