@import "../../../../../scss/theme-app";

.Pagination-Item_active {

  .Pagination-Link {
    z-index: 3;
    color: $white;
    background-color: $pagination--color;
    border-color: $pagination--color;

    &:hover {
      color: $white;
      background-color: $pagination--color;
      border-color: $pagination--color;
    }

  }
}
