@import '../../../../scss/theme-app';

.UserView {
  tr {
    border: 1px solid $table--border-color;
  }
}

.HeaderAndTime {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.CurrentTime {
  font-size: 13px;
}
